{
	email {$ACME_EMAIL}
	admin off
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}
}

www.{$DOMAIN} {
	import security_headers
	redir https://{$DOMAIN}{uri} 301
}

{$DOMAIN} {
	import security_headers
	encode zstd gzip
	reverse_proxy website:4000
}

admin.{$DOMAIN} {
	import security_headers
	encode zstd gzip
	reverse_proxy admin:80
}

api.{$DOMAIN} {
	import security_headers
	encode zstd gzip
	@admin_api path /api/admin /api/admin/*
	respond @admin_api 404
	reverse_proxy api:8080
}
